@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700");

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url('http://fonts.cdnfonts.com/css/euclid-circular-a?styles=100037,100034,100036,100039,100031');

//fonts

$openSans: "Open Sans", sans-serif;
$roboto: 'Roboto', sans-serif;
$euclid: "Euclid Circular A", sans-serif;

//theme-colors

$bg-contact: #43ba7f;
$orange: #ff8145;
$services: #43ba7f;
$black: #212121;
$milk: #fbf5f2;
$why_us: #0d1118;
$statistics: #faf4e7;
$footer: #0D1118;
$gray: #6e7581;
